/* src/components/SearchBar/SearchBar.module.css */

.searchBarWrapper {
  display: flex;
  justify-content: center;
  padding:8px;
  border-bottom: 2px solid coral;
}

.form {
  display: flex;
  width: 100%;
  max-width: 800px;
  gap: 8px;
}

.input {
  flex: 3;
  padding: 8px;
}

.select {
    flex: 1;
    padding: 8px;
}

.button{
    padding: 2px 2px;
    
}

.searchIcon {
  width: 20px;
  height: 20px;
}