/* src/components/Filters/Filters.module.css */

.filterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    gap: 5px;
}

/* //? what to use ".group" for? */

/** BUTTON: FILTER BUBBLES - GENERAL */
.bubble {
padding: 8px 16px;

    border: none;
    border-radius: 999px;

    background-color: #ddd;
    text-transform: lowercase;

    transition: background-color 0.3s ease;
    cursor: pointer;
}

/** BUTTON: FILTER BUBBLES - BY GROUP */
/* BUTTON GROUP: MUSIC */
.group.music .bubble{
    color: #b142e0;
}

.group.music .bubble.active{
background-color: #8e44ad;
    color: white;
}

/* BUTTON GROUP: BOOKS */
.group.books .bubble{
    color: #e37738;
}

.group.books .bubble.active{
background-color: #a05428;
    color: white;
}

/* BUTTON GROUP: PODS */
.group.pods .bubble{
    color: #43a368;
}

.group.pods .bubble.active{
background-color: #26623d;
    color: white;
}

/* TODO: */
/* BUTTON: CLEAR */
/* .bubble.clear {} */

/* BUTTON: FAVOURITES */