/*  src/components/tiles/SquareTile.module.css */

.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: 16px;
  padding: 5px;
  /* gap: 16px; */
  /* padding: 16px; */
  background-color: lavender;
  border-radius: 12px;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  object-fit: cover;
}

/* ! this is on all titles and not just the ones that are links (album names & artit/authors...) */
.titleLink {
  margin: 0;
    cursor: pointer;

}
.titleLink:hover {
  color:blueviolet;
}

.subtitleLink {
  margin: 0;
    cursor: pointer;
}

.subtitleLink:hover{
  color: tomato;

}

.info p {
  margin: 5px 0;
}

.favButton {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;

  /* !notworking. there is a grey background */
  background: transparent !important; 
  font-size:  8px;
  cursor: pointer;
}

.favIconActive {
  color: blueviolet;
}

.favButtonInactive {
  color: rgba(137, 43, 226, 0.381);

}

.favButtonInactive:hover {
  color: blueviolet;
}
